
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  overflow: auto;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 10px, black 10px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 10px, black 10px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.scrollbar:hover {
  -webkit-mask-position: left top;
}

.leftsidebar::-webkit-scrollbar, .rightsidebar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.leftsidebar::-webkit-scrollbar-track, .rightsidebar::-webkit-scrollbar-track {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: transparent;
    opacity:0.9;
}

.leftsidebar::-webkit-scrollbar-thumb, .rightsidebar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: transparent;    
}

.leftsidebar::-webkit-scrollbar-thumb:hover, .rightsidebar::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}

.leftsidebar::-webkit-scrollbar-track:hover, .rightsidebar::-webkit-scrollbar-track:hover{
  background-color: #EEE;
  border-color: #EEE;
  opacity: 0;
  border-radius: 6px;
}

.scrollPaddingRight {
  padding-right: 10px;
}

html {
  overflow-y: auto;
}

.activeWord {
  text-shadow: 0 0 1px;
  color: #4489FE;
}

.fade-in {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

textarea:focus, input:focus{
    outline: none;
}

.bubble {
  --r: 25px; /* the radius */
  --t: 30px; /* the size of the tail */
  
  max-width: 300px;
  padding: calc(2*var(--r)/3);
  -webkit-mask: 
    radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
  background: #4489FE border-box;
  color: #fff;
}
.left {
  --_d: 0%;
  border-left: var(--t) solid #0000;
  margin-right: var(--t);
  place-self: start;
}
.right {
  --_d: 100%;
  border-right: var(--t) solid #0000;
  margin-left: var(--t);
  place-self: end;
}
.MuiDataGrid-footerContainer {
display: none !important;
}

.MuiDataGrid-cell:focus, .MuiDataGrid-columnHeader, .MuiDataGrid-cell:focus-within {
outline: none !important;
}
.MuiDataGrid-cell {
  overflowX: hidden !important;
}

.MuiDataGrid-iconSeparator{
display: none !important;
}

.MuiDataGrid-columnHeaderDraggableContainer .MuiDataGrid-menuIcon {
display: none !important;
}

.MuiCheckbox-root>svg{
width:19px; height: 19px;
}
.MuiCheckbox-root>svg>path {
stroke: #dee0e4;
stroke-width: 1px;
}

div, span, td {
  user-select: none;
}


li.MuiTreeItem-root{
  background: transparent !important;
} 
.MuiTreeItem-content.Mui-selected {
  backgroundColor: rgba(25, 118, 210, 0.08) !important;
}

body {
  margin:0 !important;
  padding:0 !important;
}

.qx-tree-item-li-material-purple {
  margin-left: 26px !important;
}