/* ResizablePanel.css */
.resizable-panel {
    position: relative;
    border-right: 1px solid #fefefe;
    background-color: transparent;
  }
  
  .resizable-panel .content {
    padding: 4px;
  }
  
  .resizable-panel .react-resizable-handle {
    position: absolute;
    top: 0;
    width: 6px;
    bottom:0;
    background-color: transparent;
    right: 0;
    cursor: ew-resize;
    z-index: 1;
  }
    
  .resizable-panel .react-resizable-handle:hover { 
    background-color: #e9e9e9;
  }